<div class="is-row">
    <div class="is-col"></div>
    <div class="is-col">
        <div class="alert is-error is-shadow-2">
            {{.Message}}
        </div>
    </div>
    <div class="is-col"></div>
</div>

