<div class="is-row">
    <div class="is-col"></div>
    <div class="is-col">
        <h3>QR code for: {{.User}}</h3>
        <img src="{{.ImageFile}}">
    </div>
    <div class="is-col"></div>
</div>
